/* Normalize and reset styles */
*,
*::before,
*::after {
    box-sizing: border-box; /* Упрощение работы с отступами и размерами */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

html {
    line-height: 1.15; /* Уменьшаем высоту строки по умолчанию */
    -webkit-text-size-adjust: 100%; /* Предотвращаем изменение размера текста на мобильных устройствах */
}

body {
    font-family: sans-serif; /* Устанавливаем базовый шрифт */
    font-weight: normal; /* Основной вес шрифта */
    font-style: normal; /* Основной стиль шрифта */
    color: #333; /* Цвет текста */
    background-color: #fff; /* Цвет фона */
}

/* Стили для основных элементов */
h1 {
    font-size: 2em; /* Размер заголовка h1 */
}

h2 {
    font-size: 1.5em; /* Размер заголовка h2 */
}

h3 {
    font-size: 1.17em; /* Размер заголовка h3 */
}

h4 {
    font-size: 1em; /* Размер заголовка h4 */
}

h5 {
    font-size: 0.83em; /* Размер заголовка h5 */
}

h6 {
    font-size: 0.67em; /* Размер заголовка h6 */
}

p {
    margin: 0.5em 0; /* Установите отступы для абзацев */
}

ul,
ol {
    padding-left: 1.5em; /* Устанавливаем отступ при использовании списков */
}

li {
    margin-bottom: 0.25em; /* Отступы между элементами списка */
}

a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Устанавливаем цвет ссылки как у родителя */
    transition: color 0.2s; /* Эффект перехода при наведении */
}

a:hover {
    color: #925FF0; /* Изменение цвета на наведение */
}

/* Убираем стандартные стили для форм */
button,
input,
select,
textarea {
    font-family: inherit; /* Унаследуем шрифт от родителя */
    font-size: inherit; /* Унаследуем размер шрифта от родителя */
}

/* Убираем фокус у элементов формы */
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none; /* Убираем обводки вокруг элементов */
}

/* Убираем стандартные стили для таблиц */
table {
    border-collapse: collapse; /* Объединяем границы таблицы */
    width: 100%; /* Устанавливаем ширину таблицы */
}

th,
td {
    padding: 0.5em; /* Обеспечиваем отступы внутри ячеек таблицы */
    text-align: left; /* Выравнивание текста в ячейках */
}

img {
    max-width: 100%; /* Устанавливаем максимальную ширину изображения */
    height: auto; /* Поддерживаем пропорции изображения */
}

/* Гладкие стили для всех элементов */
* {
    scroll-behavior: smooth; /* Гладкая прокрутка */
}
